.button {
    cursor: pointer;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    transition: transform 300ms;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
  transform: scale(1.1);
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}